<section class="about page" id="ABOUT">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <!-- ABOUT US SECTION TITLE-->
                <div class="section_title">
                    <h2>A propos de nous</h2>
                    <p>RISE AGENCY c’est la première <b>agence Liégeoise</b> uniquement axée sur <b>l’activation digitale</b> des entreprises au service d’un <b>marketing 360*</b> cohérent et pertinent avec des stratégies uniques et avant-gardistes. C’est aussi l’agence la plus cool, la plus décontractée et ptet' aussi la plus perchée.
                    </p>
                </div>
            </div>

        </div>
    </div>
    <div class="inner_about_area">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="about_phone wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".5s">
                        <!-- PHONE -->
                        <img src="images/about_iphone.png" alt="">
                    </div>
                </div>
                <div class="col-md-6  wow fadeInRight" data-wow-duration="1s" data-wow-delay=".5s">
                    <!-- TITLE -->
                    <div class="inner_about_title">
                        <h2>Pourquoi nous sommes fait pour nous entendre:<br></h2>
                        <p> (Parmi tant d’autres !)</p>
                    </div>
                    <div class="inner_about_desc">

                        <!-- SINGLE DESC -->
                        <div class="single_about_area fadeInUp wow" data-wow-duration=".5s" data-wow-delay="1s">
                            <!-- ICON -->
                            <div><i class="pe-7s-timer"></i></div>
                            <!-- HEADING DESCRIPTION -->
                            <h3>L'agence de la proximité</h3>
                            <p> Une <b>agence digitale</b> qui comprend les besoins de toutes les structures et qui s’adapte à tous les projets (et à tous les budgets, avec toujours cette même volonté de cartonner). </p>
                        </div>
                        <!-- END SINGLE DESC -->


                        <!-- SINGLE DESC -->
                        <div class="single_about_area fadeInUp wow" data-wow-duration=".5s" data-wow-delay="1.5s">
                            <!-- ICON -->
                            <div><i class="pe-7s-target"></i></div>
                            <!-- HEADING DESCRIPTION -->
                            <h3>Une agence day2day</h3>
                            <p>C'est en utilisant les dernières tendances et en étant dans l'écosystème des <b>influenceurs du digital</b> que l'on peut se positionner en avant-gardistes. </p>
                        </div>
                        <!-- END SINGLE DESC -->


                        <!-- SINGLE DESC -->
                        <div class="single_about_area fadeInUp wow" data-wow-duration=".5s" data-wow-delay="2s">
                            <!-- ICON -->
                            <div><i class="pe-7s-stopwatch"></i></div>
                            <!-- HEADING DESCRIPTION -->
                            <h3>On arrache tout !</h3>
                            <p>Et ça, c’est plutôt bon signe en général !</p>
                        </div>
                        <!-- END SINGLE DESC -->

                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- <div class="video_area">
       <div class="container">
           <div class="row">
               <div class="col-md-6 wow fadeInLeftBig">
                VIDEO LEFT TITLE
                   <div class="video_title">
                       <h2>Présentation vidéo</h2>
                       <p>C’est pas qu’on prend les gens pour des cons, mais en vidéo, tout est souvent beaucoup plus simple à comprendre.
Si vous aimez bien lire, vous pouvez toujours télécharger notre <b>brochette de présentation</b> (c’est un doux mélange entre brochure et plaquette). </p>
                   </div>
                   <div class="video-button">
                       BUTTON
                       <a class="btn btn-primary btn-video" href="#FEATURES" role="button">Télécharger</a>
                   </div>
               </div>
               <div class="col-md-6 wow fadeInRightBig">
                    VIDEO
                   <div class="video">
                       <iframe src="https://player.vimeo.com/video/88209254?title=0&amp;byline=0&amp;portrait=0&amp;color=cc0000" width="560" height="315"></iframe>
                   </div>
               </div>
           </div>
       </div>
   </div>-->
</section>