 <div class="call_to_action">
     <div class="container">
         <div class="row wow fadeInLeftBig" data-wow-duration="1s">
             <div class="col-md-9">
                 <p>* Le Digital Marketing Canevas est un outil open-source, inspiré du Business Model Canevas qui permet de mettre en place une <b>stratégie digitale </b>custom propre à l'entreprise et à ses objectifs, le canevas de base à légèrement été modifié par nos soins (et est en constante évolution) afin de permettre une expérience de plus en plus personnalisée et de plus en plus optimisée pour les défis changeants que nous offre le <b>digital en 2017.</b> </p>
             </div>
             <div class="col-md-3">
                 <a class="btn btn-primary btn-action" href="#" role="button">Je télécharge !</a>
             </div>
         </div>
     </div>
 </div>