<section class="contact page" id="CONTACT">
    <div class="section_overlay">
        <div class="container">
            <div class="col-md-10 col-md-offset-1 wow bounceIn">
                <!-- Start Contact Section Title-->
                <div class="section_title">
                    <h2>Rencontrons-nous !</h2>
                    <p>Vous avez des questions à poser, vous avez besoin d'un rendez-vous afin d'éclaircir les possibilités qui s'offrent à vous ? Laissez-nous un petit message, on s'occupe de tout !</p>
                </div>
            </div>
        </div>

        <div class="contact_form wow bounceIn">
            <div class="container">

                <!-- START ERROR AND SUCCESS MESSAGE -->
                <div class="form_error text-center">
                    <div data-ajax-display="empty-name" data-ajax-form="contact"></div>
                    <div data-ajax-display="empty-email" data-ajax-form="contact"></div>
                    <div data-ajax-display="invalid-email" data-ajax-form="contact"></div>
                    <div data-ajax-display="empty-subject" data-ajax-form="contact"></div>
                    <div data-ajax-display="empty-message" data-ajax-form="contact"></div>
                    <div data-ajax-display="error" data-ajax-form="contact"></div>
                </div>
                <div data-ajax-display="success" data-ajax-form="contact"></div>
                <!-- END ERROR AND SUCCESS MESSAGE -->

                <!-- FORM -->
                <form role="form" data-form="contact">
                    <div class="row">
                        <div class="col-md-4">
                            <input type="text" class="form-control" id="name" name="name" placeholder="Nom">
                            <input type="email" class="form-control" id="email" name="email" placeholder="Email">
                            <input type="text" class="form-control" id="subject" name="subject" placeholder="Objet">
                        </div>

                        <div class="col-md-8">
                            <textarea class="form-control" name="message" id="message" rows="25" cols="10" placeholder=" Votre message"></textarea>
                            <button data-ajax="contact" type="button" class="btn btn-default submit-btn form_submit">Envoyer le message</button>
                        </div>
                    </div>
                </form>
                <!-- END FORM -->
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-md-12 wow bounceInLeft">
                    <div class="social_icons">
                        <ul>
                            {#<li>#}
                                {#<a href=""><i class="fa fa-facebook"></i></a>#}
                            {#</li>#}
                            <li>
                                <a href="https://twitter.com/ProtBuk"><i class="fa fa-twitter"></i></a>
                            </li>
                            {#<li>#}
                                {#<a href=""><i class="fa fa-youtube-play"></i></a>#}
                            {#</li>#}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>