<section class="contact page" id="CONTACT">
    <div class="section_overlay">
        <div class="container">
            <div class="col-md-10 col-md-offset-1 wow bounceIn">
                <!-- Start Contact Section Title-->
                <div class="section_title">
                    <h2>Rencontrons-nous !</h2>
                    <p>Vous avez des questions à poser, vous avez besoin d'un rendez-vous afin d'éclaircir les possibilités qui s'offrent à vous ? Laissez-nous un petit message, on s'occupe de tout !</p>
                </div>
            </div>
        </div>

        <div class="contact_form wow bounceIn">
            <div class="container">

                <!-- START ERROR AND SUCCESS MESSAGE -->
                <div class="form_error text-center">
                    <div class="name_error hide error" data-ajax-display="empty-name">Veuillez entrer votre nom</div>
                    <div class="email_error hide error" data-ajax-display="empty-email">Veuillez entrer votre email</div>
                    <div class="email_val_error hide error" data-ajax-display="invalid-email">Veuillez entrer un email valide</div>
                    <div class="message_error hide error" data-ajax-display="empty-message">Veuillez entrer un message</div>
                </div>
                <div class="Sucess"></div>
                <!-- END ERROR AND SUCCESS MESSAGE -->

                <!-- FORM -->
                <form role="form">
                    <div class="row">
                        <div class="col-md-4">
                            <input type="text" class="form-control" id="name" placeholder="Nom">
                            <input type="email" class="form-control" id="email" placeholder="Email">
                            <input type="text" class="form-control" id="subject" placeholder="Objet">
                        </div>

                        <div class="col-md-8">
                            <textarea class="form-control" id="message" rows="25" cols="10" placeholder=" Votre message"></textarea>
                            <button data-ajax="contact" type="button" class="btn btn-default submit-btn form_submit">Envoyer le message</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 text-center" data-ajax-response=""></div>
                    </div>
                </form>
                <!-- END FORM -->
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-md-12 wow bounceInLeft">
                    <div class="social_icons">
                        <ul>
                            <li>
                                <a href=""><i class="fa fa-facebook"></i></a>
                            </li>
                            <li>
                                <a href=""><i class="fa fa-twitter"></i></a>
                            </li>
                            <li>
                                <a href=""><i class="fa fa-youtube-play"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>