<section id="FEATURES" class="features page">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <!-- FEATURES SECTION TITLE -->
                <div class="section_title wow fadeIn" data-wow-duration="1s">
                    <h2>Le scope de notre marketing digital</h2>
                    <p>Forte d'une expérience toujours plus enrichissante avec les marques les plus OUT-OF-THE-BOX et avec les entreprises les plus ouvertes d'esprit, notre expertise, exclusivement articulée autour du <b>marketing digital</b> saura vous faire décoller vers ses strates les plus éblouissantes d'une stratégie de communication axé ROI. </p>
                </div>
                <!-- END FEATURES SECTION TITLE -->
            </div>
        </div>
    </div>

    <div class="feature_inner">
        <div class="container">
            <div class="row">
                <div class="col-md-4 right_no_padding wow fadeInLeft" data-wow-duration="1s">
                    <!-- FEATURE -->

                    <div class="left_single_feature">
                        <!-- ICON -->
                        <div><span class="pe-7s-like"></span></div>

                        <!-- FEATURE HEADING AND DESCRIPTION -->
                        <h3>Digital Marketing Canevas*<span>/</span></h3>
                        <p>Grâce au DCM*, nous définissons ENSEMBLE votre <b>stratégie marketing</b> de marque. !</p>
                    </div>

                    <!-- END SINGLE FEATURE -->


                    <!-- FEATURE -->
                    <div class="left_single_feature">
                        <!-- ICON -->
                        <div><span class="pe-7s-science"></span></div>

                        <!-- FEATURE HEADING AND DESCRIPTION -->
                        <h3>Activation digitale<span>/</span></h3>
                        <p>Définir, créer et monitorer des <b>campagnes digitales</b> particulières (360°, cross platform, social media, ...)</p>
                    </div>
                    <!-- END SINGLE FEATURE -->


                    <!-- FEATURE -->
                    <div class="left_single_feature">
                        <!-- ICON -->
                        <div><span class="pe-7s-look"></span></div>

                        <!-- FEATURE HEADING AND DESCRIPTION -->
                        <h3>Formations & consultance<span>/</span></h3>
                        <p>Former pour donner les outils nécessaires au développement d'une stratégie digitale intra-entreprise.</p>
                    </div>
                    <!-- END SINGLE FEATURE -->

                </div>
                <div class="col-md-4">
                    <div class="feature_iphone">
                        <!-- FEATURE PHONE IMAGE -->
                        <img class="wow bounceIn" data-wow-duration="1s" src="images/iPhone02.png" alt="">
                    </div>
                </div>
                <div class="col-md-4 left_no_padding wow fadeInRight" data-wow-duration="1s">

                    <!-- FEATURE -->
                    <div class="right_single_feature">
                        <!-- ICON -->
                        <div><span class="pe-7s-monitor"></span></div>

                        <!-- FEATURE HEADING AND DESCRIPTION -->
                        <h3><span>/</span>Implémentation des bonnes plateformes</h3>
                        <p>Analyse et déploiement des plateformes cohérentes aux stratégies digitales définies (<b>e-commerce</b>, CRM, dashboards, ...)</p>
                    </div>
                    <!-- END SINGLE FEATURE -->


                    <!-- FEATURE -->
                    <div class="right_single_feature">
                        <!-- ICON -->
                        <div><span class="pe-7s-phone"></span></div>

                        <!-- FEATURE HEADING AND DESCRIPTION -->
                        <h3><span>/</span>Le contenu au centre de tout</h3>
                        <p>Création de landing pages, campagnes e-mailing (content, dev', design et ROI), social media, articles blog, optimisation web (SEO, UX, e-commerce, architecture & so on.</p>
                    </div>
                    <!-- END SINGLE FEATURE -->


                    <!-- FEATURE -->
                    <div class="right_single_feature">
                        <!-- ICON -->
                        <div><span class="pe-7s-gleam"></span></div>

                        <!-- FEATURE HEADING AND DESCRIPTION -->
                        <h3><span>/</span>Médias</h3>
                        <p>Création, optimisation & monitoring de <b>campagnes médias digitales</b> (Adwords, Display, native, bannering, RTB/programmatique, ...)</p>


                    </div>
                    <!-- END SINGLE FEATURE -->
                </div>
            </div>
        </div>
    </div>

</section>