<section class="fun_facts parallax">
    <div class="section_overlay">
        <div class="container wow bounceInLeft" data-wow-duration="1s">
            <div class="row text-center">
                <div class="col-md-3">
                    <div class="single_fun_facts">
                        <i class="pe-7s-global"></i>
                        <h2><span  class="counter_num">360</span> <span></span></h2>
                        <p>Thinker</p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="single_fun_facts">
                        <i class="pe-7s-look"></i>
                        <h2><span  class="counter_num">2000000</span> <span>+</span></h2>
                        <p>Views</p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="single_fun_facts">
                        <i class="pe-7s-comment"></i>
                        <h2><span  class="counter_num">2500</span> <span>+</span></h2>
                        <p>Conversations</p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="single_fun_facts">
                        <i class="pe-7s-cup"></i>
                        <h2><span  class="counter_num">3</span> <span>+</span></h2>
                        <p>Awards</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>