
<section class="subscribe parallax subscribe-parallax" data-stellar-background-ratio="0.6" data-stellar-vertical-offset="20">
    <div class="section_overlay wow lightSpeedIn">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">

                    <!-- Start Subscribe Section Title -->
                    <div class="section_title">
                        <h2>JE RESTE INFORMé</h2>
                        <p>Pour rester informé des dernières tendances du digital, du web, du marketing mais aussi des nouveautés de RISE AGENCY, rien de plus simple, laissez-nous votre adresse email et le tour est joué. </p>
                    </div>
                    <!-- End Subscribe Section Title -->
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row  wow lightSpeedIn">
                <div class="col-md-6 col-md-offset-3">
                    <!-- SUBSCRIPTION SUCCESSFUL OR ERROR MESSAGES -->
                    <div data-ajax-display="success"></div>
                    <div data-ajax-display="error"></div>


                    <form id="mc-form" class="subscribe_form" data-form="subscribe">
                        <div class="form-group">
                            <!-- EMAIL INPUT BOX -->
                            <input type="email" value="" name="EMAIL" class="required email form-control" id="mce-EMAIL" placeholder="Adresse email">
                        </div>

                        <!-- SUBSCRIBE BUTTON -->
                        <button data-ajax="subscribe" type="submit" class="btn btn-default subs-btn">Envoyer</button>
                    </form>


                </div>
            </div>
        </div>
    </div>
</section>