<section id="TESTIMONIAL" class="testimonial parallax">
    <div class="section_overlay">
        <div class="container">
            <div class="row">
                <div class="col-md-12 wow bounceInDown">
                    <div id="carousel-example-caption-testimonial" class="carousel slide" data-ride="carousel">
                        <!-- Indicators -->
                        <ol class="carousel-indicators">
                            <li data-target="#carousel-example-caption-testimonial" data-slide-to="0" class="active"></li>
                            <li data-target="#carousel-example-caption-testimonial" data-slide-to="1"></li>

                        </ol>

                        <!-- Wrapper for slides -->
                        <div class="carousel-inner">
                            <div class="item active">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-12 text-center">
                                            <!-- IMAGE -->
                                            <img src="images/client_1.png" alt="">
                                            <div class="testimonial_caption">
                                                <!-- DESCRIPTION -->
                                                <h2>Prot "Buk" Thomas.</h2>
                                                <h4><span>{Digital Marketing Expert},</span> Strategist.</h4>
                                                <p>“Start where you, use what you have, do the best you can.
                                                    / Digital Native aux multiples facettes, apte à définir les <b>stratégies digitales</b> dont vous avez besoin pour élever votre visibilité.
                                                    / Rise & Shine.”</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-12 text-center">
                                            <!-- IMAGE -->
                                            <img src="images/client_2.png" alt="">
                                            <div class="testimonial_caption">
                                                <!-- DESCRIPTION -->
                                                <h2>Laurie Delhez</h2>
                                                <h4><span>Community Manager & Brand experience designer</span> </h4>
                                                <p>“Créative & UX Designer, Laurie crée des expériences sur mesure pour les marques et leurs clients comme personne d'autre.”</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


</section>